{% extends 'webapp/base.html' %}
{% block title %}Add Resources{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

	    <!--Left side info-->
        <div class="col-sm-4 col-md-3"> 	
            <div class="panel panel-primary"> <!--empty panel, white square-->
                <div class="panel-heading">
                    <h3>{{query}}</h3>
                </div>

                <div class="panel-body">
                    <h3>Possible paths for {{query}}:</h3>
                    {% for o in path %}
                        <p>                    
                        {% for i in o %}
                            {{i}}
                        {% endfor %}
                        </p>
                    {% endfor %}
                    <a href="{% url 'webapp:database' %}" class="btn btn-primary btn-sm" role="button">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}